.App {
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1561553873-e8491a564fd0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=947&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height:100vh;
  color: azure;


}

input{
  outline: none;
  padding: 0.5rem;
  border-radius: 1rem;
 
}
/* .searcharea{
  background-color: white;
  border-radius: 1rem;
} */
button{
  border-radius: 1rem;
  border: none;
  background-color: pink;
  padding: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  
}

button:active{
  scale: 95%;
}
